@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@200&display=swap');

*{
    font-family: 'Source Sans Pro', sans-serif;
}

body{
    margin: 0;
    padding: 0;
    background: #e1e5e8;
    background-size: cover;
    background-position: center;
    overflow: hidden;
}

.register-box{
    width: 850px;
    height: 500px;
    background: DodgerBlue;
    color: #ffffff;
    top: 50%;
    left: 50%;
    position: absolute;
    transform: translate(-50%, -50%);
    box-sizing: border-box;
    padding: 70px 30px;
    border-radius: 25px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.register-avatar{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    position: absolute;
    top: -50px;
    left: calc(50% - 50px);
}

.register-message{
    margin: 0;
    padding: 0 0 20px;
    text-align: center;
    font-size: 29px;
    font-weight: bold;
    user-select: none;
}

.register-box .input-box{
    border-bottom: 1px solid white;
    margin-bottom: 40px;
    padding-bottom: 8px;
}

.register-box input[type="text"], .register-box input[type="password"]{
    width: 85%;
    padding-left: 10px;
    border: none;
    outline: none;
    background: transparent;
    color: #ffffff;
    font-size: 16px;
    font-weight: bold;
}

.register-box .left-components{ 
    width: 40%;
    position: relative;
    left: 4%;
    margin-top: 20px;
    padding-right: 45px;
    border-right: 5px solid white;
}

.register-box .right-components{ 
    width: 40%;
    position: absolute;
    right: 40px;
    top: 147px;
}



.register-box input[type="submit"]{
    width: 40%;
    border: none;
    outline: none;
    height: 40px;
    background: #ffffff;
    color: DodgerBlue;
    font-size: 18px;
    font-weight: bold;
    border-radius: 20px;
    margin-bottom: 15px;
    position: relative;
    left: 57%;
}

.register-box input[type="submit"]:hover{
    cursor: pointer;
    background: #ffc107;
    color: #000;
    transition: 0.17s ease-in-out;
}

::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: #dce0e3;
    font-weight: bold;
    font-size: 17px;
    opacity: 0.9; /* fixed opacity because Firefox has another default opacity */
}

.register-box input[name="dayOfBirth"], .register-box input[name="monthOfBirth"], .register-box input[name="yearOfBirth"]{
    margin: 0;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0;
    width: 45px;
    text-align: center;
}

.register-box a{
    text-decoration: none;
    font-size: 16px;
    font-weight: bold;
    line-height: 10px;
    color: #eeeeee;
    position: relative;
    bottom: 35px;
    left: -79px;
}

.register-box a:hover{
    color: #f2bf05;
    transition: 0.17s ease-in-out;
}

.required-fields{
    color: #be4b49;
    position: absolute;
    font-size: 25px;
}

.required-fields-label{
    font-weight: bold;
    font-size: 15px;
    position: relative;
    bottom: 65px;
    left: 30px;
}

.register-error-toast{
    position: absolute;
    top: 15px;
    right: 0;
    background: #f8d7da;
    padding: 15px 40px;
    border-left: 5px solid #822a46;
    opacity: 0;
    border-radius: 2px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.register-error-toast-message{
    font-size: 18px;
    font-weight: bold;
    color: #822a46;
    margin: 0 20px;
    user-select: none;
}

.register-error-toast.alert{
    opacity: 1;
}

.register-error-toast.show{
    animation: show_slide 0.7s ease forwards;
}

@keyframes show_slide{
    0%{
        transform: translateX(100%);
    }
    40%{
        transform: translateX(-10%);
    }
    80%{
        transform: translateX(0%);
    }
    100%{
        transform: translateX(5px);
    }
}

.register-error-toast.hide{
    animation: hide_slide 0.7s ease forwards;
}

@keyframes hide_slide{
    0%{
        transform: translateX(5px);
    }
    40%{
        transform: translateX(0%);
    }
    80%{
        transform: translateX(-10%);
    }
    100%{
        transform: translateX(100%);
    }
}

.input-box .fa{
    padding-left: 3px;
}

.register-error-toast .fa-times-circle{
    position: absolute;
    left: 20px;
    top: 50%;
    transform: translateY(-50%);
    color: #822a46;
    font-size: 20px;
}