@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@200&display=swap');

*{
    font-family: 'Source Sans Pro', sans-serif;
}

body{
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.menu-bar{
    overflow: hidden;
    background-color: DodgerBlue;
    position: fixed;
    top: 0;
    left: 0;
    height: 50px;
    width: 100%;
    /* border-bottom: 2px solid #9fa3b1; */
}

.menu-bar .home-logo{
    float: none;
    position: absolute;
    top: 50%;
    left: 5.5%;
    transform: translate(-50%, -50%);
}

.menu-bar .home-logo a{
    text-decoration: none;
    font-size: 30px;
    font-weight: bold;
    color: rgb(240, 240, 240);
}

.menu-bar .search-bar{
    float: none;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.menu-bar .search-bar form{
    width: 500px;
    background-color: #ffffff;
    height: 39px;
    border-radius: 5px;
    display: flex;
    box-shadow: 0 8px 6px -10px #b3c6ff;
}

.menu-bar .search-bar form .search_options_dropdown{
    width: 150px;
    height: 37px;
    margin-top: 1px;
    color: #9fa3b1;
    position: relative;
    cursor: pointer;
}

.menu-bar .search-bar form .search_options_dropdown:before{
    content: "";
    position: absolute;
    top: 16px;
    right: 20px;
    border: 6px solid;
    border-color: Dodgerblue transparent transparent transparent;
}

.menu-bar .search-bar form .selected_search_options{
    text-transform: uppercase;
    padding: 10px 10px;
    font-size: 13px;
    user-select: none;
}

.menu-bar .search-bar form .search_options_dropdown .dropdown-list{
    margin: 0;
    padding: 0;
    position: absolute;
    top: 33px;
    background-color: #ffffff;
    width: 135px;
    border-radius: 0 0 5px 5px;
    padding: 10px;
    box-shadow: 8px 8px 6px -10px #b3c6ff;
    list-style: none;
    cursor: default;
    display: none;
}

.menu-bar .search-bar form .search_options_dropdown .show-list{
    display: block;
}

.menu-bar .search-bar form .search_options_dropdown .dropdown-list li{
    padding-bottom: 10px;
}

.menu-bar .search-bar form .search_options_dropdown .dropdown-list li:last-child{
    padding-bottom: 0;
}

.menu-bar .search-bar form .search_options_dropdown .dropdown-list li:hover{
    color: #6f768d;
}

.menu-bar .search-bar form .search_options_dropdown .dropdown-list li input[type="checkbox"]{
    position: relative;
    width: 24px;
    height: 10px;
    margin-right: 10px;
    -webkit-appearance: none;
    background-color: #c6c6c6;
    outline: none;
    border-radius: 20px;
    box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.2);
    transition: 0.15s;
}

.menu-bar .search-bar form .search_options_dropdown .dropdown-list li input:checked[type="checkbox"]{
    background-color: Dodgerblue;
}

.menu-bar .search-bar form .search_options_dropdown .dropdown-list li input[type="checkbox"]::before{
    content: "";
    position: absolute;
    width: 14px;
    height: 14px;
    border-radius: 50%;
    top: -2px;
    left: 0;
    background-color: #ffffff; 
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
    transition: 0.15s;
}

.menu-bar .search-bar form .search_options_dropdown .dropdown-list li input:checked[type="checkbox"]::before{
    left: 12px;
}

.menu-bar .search-bar form .search_field{
    width: 350px;
    height: 37px;
    position: relative;
}

.menu-bar .search-bar form .search_field input[type="text"]{
    border: none;
    outline: none;
    width: 260px;
    height: 75%;
    margin: 4px;
    border: none;
    font-size: 16px;
    font-weight: bold;
    letter-spacing: 1px;
    padding-left: 10px;
    padding-right: 10px;
    color: #6f768d;
    border-left: 2px solid #dde2f1;
}

.menu-bar .search-bar form .search_field input[type="text"]::placeholder{
    color: #9fa3b1;
    font-weight: normal;
    letter-spacing: normal;
}

.menu-bar .search-bar form .search_field button[type="submit"]{
    outline: none;
    border: none;
    margin: 0;
    padding: 0;
    position: absolute;
    width: 60px;
    height: 39px;
    right: 0;
    border-radius: 0 5px 5px 0;
    font-size: 15px;
    text-align: center;
    background-color: transparent;
    color: Dodgerblue;
    cursor: pointer;
}

.menu-bar .search-bar form .search_field button[type="submit"]:hover{
    background-color: #f2f6ff;
}

.menu-bar .logout{
    float: none;
    position: absolute;
    top: 50%;
    left: 97%;
    transform: translate(-50%, -50%);
}

.menu-bar .logout .fa-power-off{
    color: white;
    font-size: 25px;
}

.side-bar{
    outline: none;
    border: none;
    float: none;
    position: fixed;
    left: 0%;
    width: 14%;
    top: 50px;
    height: 94.3%;
    background-color: #f8f8f8;
}

.side-bar ul{
    margin: 0;
    padding: 0;
}

.side-bar ul .list-item{
    list-style: none;
    display: flex;
    justify-content: center;
    border-bottom: 1px solid #ccc;
}

.side-bar .list-item .show-upload-box-btn{
    margin: 10px;
    padding: 0;
    height: 40px;
    width: 70px;
    outline: none;
    border: none;
    display: flex;
    background-color: #ffffff;
    border-radius: 30px;
    align-items: center;
    justify-content: space-evenly;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
    cursor: pointer;
    font-size: 17px;
    font-weight: 600;
    color: #6990f2;
    user-select: none;
}

.side-bar .list-item .show-upload-box-btn:hover{
    background-color: #f4f4f4;
}

.home-content{
    outline: none;
    border: none;
    float: none;
    position: fixed;
    left: 14%;
    width: 86%;
    top: 50px;
    height: 94.3%;
    background-color: #ffffff;
    overflow-y: auto;
}

.home-content .upload-box{
    position: absolute;
    float: none;
    top: 50%;
    left: 42%;
    transform: translate(-50%, -50%);
    width: 430px;
    padding: 30px;
    background-color: #ffffff;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
    display: none;
}

.home-content .upload-box .hide-upload-box-btn{
    position: absolute;
    float: none;
    top: 0%;
    left: 100%;
    transform: translate(-50%, -50%);
    border-radius: 50%;
    outline: none;
    border: none;
    color: #ffffff;
    background-color: #6990f2;
    cursor: pointer;
}

.home-content .upload-box .hide-upload-box-btn:hover{
    background-color: #587acf;
}

.home-content .upload-box header{
    color: #6990f2;
    font-size: 27px;
    font-weight: 600;
    text-align: center;
}

.home-content .upload-box form{
    height: 167px;
    display: flex;
    margin-top: 30px;
    margin-bottom: 30px;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border-radius: 5px;
    border: 2px dashed #6990f2;
    cursor: pointer;
}

.home-content .upload-box form :where(i, p){
    color: #6990f2;
}

.home-content .upload-box form i{
    font-size: 50px;
}

.home-content .upload-box form p{
    font-size: 17px;
    user-select: none;
}

.home-content .upload-box section .row{
    background-color: #e9f0ff;
    margin-top: 10px;
    list-style: none;
    padding: 15px 20px;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.home-content .upload-box section .row i{
    font-size: 38px;
    color: #6990f2;
}

.home-content .upload-box section .details span{
    font-size: 14px;
}

.home-content .upload-box .progress-area .row .content{
    width: 100%;
    margin-left: 15px;
}

.home-content .upload-box .progress-area .details{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 7px;
}

.home-content .upload-box .progress-area .row .content .progress-bar{
    height: 6px;
    width: 100%;
    background-color: #ffffff;
    margin-bottom: 4px;
    border-radius: 30px;
}

.home-content .upload-box .progress-area .row .content .progress-bar .progress{
    height: 100%;
    width: 0%;
    background-color: #6990f2;
    border-radius: inherit;
}

.home-content .upload-box .uploaded-area{
    max-height: 150px;
    overflow-y: scroll;
}

.home-content .upload-box .uploaded-area::-webkit-scrollbar{
    width: 0px;
}

.home-content .upload-box .uploaded-area .row .content{
    display: flex;
    align-items: center;
}

.home-content .upload-box .uploaded-area .row .details{
    display: flex;
    flex-direction: column;
    margin-left: 15px;
}

.home-content .upload-box .uploaded-area .row .content .details .size{
    font-size: 12px;
    color: #404040;
}

.home-content .upload-box .uploaded-area .row .fa-check{
    font-size: 16px;
}

.home-content .home-information-toast{
    position: absolute;
    top: 15px;
    right: 0;
    background: #99dcf4;
    padding: 15px 40px;
    border-left: 5px solid #0192cc;
    opacity: 0;
    border-radius: 2px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.home-content .home-information-toast .fa-info-circle{
    position: absolute;
    left: 20px;
    top: 50%;
    transform: translateY(-50%);
    color: #0192cc;
    font-size: 20px;
}

.home-content .home-information-toast .home-information-toast-message{
    font-size: 18px;
    font-weight: bold;
    color: #0192cc;
    margin: 0 20px;
    user-select: none;
}

.home-content .home-information-toast.alert{
    opacity: 1;
}

.home-content .home-information-toast.show{
    animation: show_slide 1s ease forwards;
}

@keyframes show_slide{
    0%{
        transform: translateX(100%);
    }
    40%{
        transform: translateX(-10%);
    }
    80%{
        transform: translateX(0%);
    }
    100%{
        transform: translateX(5px);
    }
}

.home-content .home-information-toast.hide{
    animation: hide_slide 1s ease forwards;
}

@keyframes hide_slide{
    0%{
        transform: translateX(5px);
    }
    40%{
        transform: translateX(0%);
    }
    80%{
        transform: translateX(-10%);
    }
    100%{
        transform: translateX(100%);
    }
}

.grid-container{
    display: grid;
    grid-template-columns: 22% 22% 22% 22%;
    justify-content: space-evenly;
    grid-gap: 30px;
    background-color: #ffffff;
    padding: 19px;
}

.grid-container .grid-item{
    position: relative;
    background-color: rgba(200, 200, 200, 0.05);
    border: 2px solid lightgrey;
    text-align: center;
    height: 220px;
    border-radius: 7px;
}

.grid-container .grid-item .item-header{
    position: relative;
    border: none;
    width: 100%;
    height: 70%;
    top: 0%;
    background-color: #ffffff;
    border-radius: 6px 6px 0 0;
}

.grid-container .grid-item .item-header img{
    max-height: 100%;
    max-width: 100%;
}

.grid-container .grid-item .item-header .icon{
    position: relative;
    border: none;
    transform: translateY(50%);
}

.grid-container .grid-item .item-header .icon .fas{
    color: dodgerblue;
    font-size: 80px;
}

.grid-container .grid-item .item-header .delete-item{
    position: absolute;
    margin: 0;
    padding: 0;
    right: 5%;
    top: 5%;
}

.grid-container .grid-item .item-header .delete-item a .fa-trash-alt{
    color: #f12a46;
    font-size: 20px;
}

.grid-container .grid-item .item-information{
    position: absolute;
    border: none;
    width: 100%;
    height: 30%;
    top: 70%;
    background-color: rgba(200, 200, 200, 0.4);
    border-radius: 0 0 3px 3px;
}

.grid-container .grid-item .item-information .item-name{
    position: absolute;
    left: 0;
    top: 0;
    margin-left: 8px;
    margin-top: 12px;
    font-size: 15px;
    font-weight: bold;
}

.grid-container .grid-item .item-information .item-name .full-item-name-tooltip{
    visibility: hidden;
    width: fit-content;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 3px;
    padding-left: 3px;
    padding-right: 4px;
    padding-top: 3px;
    padding-bottom: 5px;
    box-shadow: -5px 8px 13px grey;
    /* Position the tooltip */
    position: absolute;
    z-index: 1;
    top: 25px;
    left: 60px;
    margin-left: -60px;
}

.grid-container .grid-item .item-information .item-name:hover .full-item-name-tooltip{
    visibility: visible;
}

.grid-container .grid-item .item-information .item-date-and-size{
    position: absolute;
    bottom: 0;
    left: 0;
    margin-left: 9px;
    margin-bottom: 8px;
    font-size: 13px;
}

.grid-container .grid-item .item-information .download-item{
    position: absolute;
    margin: 0;
    padding: 0;
    right: 9%;
    top: 35%;
}

.grid-container .grid-item .item-information .download-item a .fa-download{
    color: dodgerblue;
    font-size: 20px;
}