body{
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.menu-bar{
    overflow: hidden;
    background-color: DodgerBlue;
    position: fixed;
    top: 0;
    left: 0;
    height: 50px;
    width: 100%;
}

.menu-bar .home-logo{
    float: none;
    position: absolute;
    top: 50%;
    left: 5.5%;
    transform: translate(-50%, -50%);
}

.menu-bar .home-logo a{
    text-decoration: none;
    font-size: 30px;
    color: rgb(240, 240, 240);
}

.menu-bar .search-bar{
    float: none;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.menu-bar .logout{
    float: none;
    position: absolute;
    top: 50%;
    left: 97%;
    transform: translate(-50%, -50%);
}

.menu-bar .logout .fa-power-off{
    color: white;
    font-size: 25px;
}

.home-content{
    outline: none;
    border: none;
    float: none;
    position: fixed;
    left: 11%;
    width: 89%;
    top: 50px;
    height: 94.3%;
    background-color: #fff;
    overflow-y: auto;
}

.side-bar{
    outline: none;
    border: none;
    float: none;
    position: fixed;
    left: 0%;
    width: 11%;
    top: 50px;
    height: 94.3%;
    background-color: black;
}